//
// App-wide Styles
//

.browsehappy
  background #ccc
  color #000
  margin 0.2em 0
  padding 0.2em 0

// Responsive: Portrait tablets and up
@media screen and (min-width: 768px)
  .container
    max-width 730px


// Component styles are injected through grunt
// injector
@import 'account/login/login.styl';
@import 'admin/admin.styl';
@import 'main/main.styl';
// endinjector